.not-found {
    display: flex;
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-size: rel(20);
        font-weight: 500;
        line-height: rel(28);
    }
    &__text {
        font-size: rel(16);
        font-weight: 400;
        line-height: rel(26);
    }
}
