<div class="alert alert-success" data-alert="for-approval">
    <div class="alert__header mb-10">
        <div class="alert__header-title">
            <i class="icon-successalt green"></i>
            Изменения отправлены на согласование
        </div>
        <button type="button" class="alert__close" data-alert-close>
            <i class="icon-cross"></i>
        </button>
    </div>
    <div class="alert__body">
        Тут описано как пользователь поймет что они согласованы.
        Другой текст в несколько строк, чтобы понимать как идет растягивание компонента и какие начальные отступы у блока контента.
    </div>
</div>

<div class="alert alert-danger" data-alert="failed">
    <div class="alert__header mb-10">
        <div class="alert__header-title">
            <i class="icon-error red"></i>
            Не удалось отправить запрос
        </div>
        <button type="button" class="alert__close" data-alert-close>
            <i class="icon-cross"></i>
        </button>
    </div>
    <div class="alert__body">
        Описание проблемы
        Другой текст в несколько строк, чтобы понимать как идет растягивание компонента и какие начальные отступы у блока контента.
    </div>
</div>

<div class="alert alert-warning" data-alert="failed-warning">
    <div class="alert__header mb-10">
        <div class="alert__header-title">
            <i class="icon-error orange"></i>
            Не удалось отправить запрос
        </div>
        <button type="button" class="alert__close" data-alert-close>
            <i class="icon-cross"></i>
        </button>
    </div>
    <div class="alert__body">
        Описание проблемы
        Другой текст в несколько строк, чтобы понимать как идет растягивание компонента и какие начальные отступы у блока контента.
    </div>
</div>
