{% extends "src/elements/_template.njk" %}
{% set title = "Список страниц" %}

{% block content %}
    <div class="page-header">
        <h1 class="page-title">{{ title }}</h1>
    </div>
    <ul class="mb-40 page-list">
        <li>
            <a href="registry.html">Реестр на основе КФЗ</a>
        </li>
        <li>
            <a href="employee.html">Справочник сотрудников</a>
        </li>
        <li>
            <a href="employee-delete.html">Справочник сотрудников - удаление</a>
        </li>
        <li>
            <a href="employee-delete-alert.html">Справочник сотрудников - удаление (уведомление)</a>
        </li>
        <li>
            <a href="waste-accumulation.html">Справочник мест накопления отходов</a>
        </li>
        <li>
            <a href="access.html">Доступы</a>
        </li>
        <li>
            <a href="roles.html">Роли</a>
        </li>
        <li>
            <a href="users.html">Пользователи</a>
        </li>
        <li>
            <a href="integration-log.html">Журнал интеграционный</a>
        </li>
        <li>
            <a href="logging-log.html">Журнал логирования</a>
        </li>
        <li>
            <a href="not-found.html">Ничего не найдено</a>
        </li>
        <li>
            <a href="courtyard-territories.html">Справочник Дворовые территории</a>
        </li>
        <li>
            <a href="workshops.html">Справочник Мастерские участка</a>
        </li>
        <li>
            <a href="discharge.html">Выгрузки</a>
        </li>
    </ul>
    <ul class="page-list mb-40">
        <li>
            <a href="#" data-offcanvas-target="task">Карточка задания</a>
        </li>
        <li>
            <a href="#" data-offcanvas-target="new_task">Новое задание</a>
        </li>
        <li>
            <button type="button" class="btn-link" data-src="#period_settings" data-fancybox>Настройка периодичности</button>
        </li>
        <li>
            <a href="#" data-offcanvas-target="employee_card">Карточка сотрудника</a>
        </li>
        <li>
            <a href="#" data-offcanvas-target="employee_card_edit">Карточка сотрудника - редактировать</a>
        </li>
        <li>
            <a href="#" data-offcanvas-target="task_active">Задание 1234-512345</a>
        </li>
        <li>
            <a href="#" data-offcanvas-target="employee_information">Карточка сотрудника с вкладками</a>
        </li>
    </ul>
    <ul class="page-list mb-40">
        <li>
            <a href="#" data-src="#employee-delete" data-fancybox>Модалка "Подтверждение удаления"</a>
        </li>
        <li>
            <a href="#" data-src="#approving-changes" data-fancybox>Модалка "Согласование изменений"</a>
        </li>
        <li>
            <a href="#" data-src="#for-approval" data-fancybox>Модалка "Изменения отправлены на согласование"</a>
        </li>
        <li>
            <a href="#" data-src="#failed" data-fancybox>Модалка "Не удалось отправить запрос"</a>
        </li>
        <li>
            <button type="button" class="btn-link" data-src="#works" data-fancybox>Модалка "Назначенные работы"</button>
        </li>
    </ul>
    <ul class="page-list mb-40">
        <li>
            <a href="#" data-alert-target="for-approval">Уведомление "Изменения отправлены на согласование" (зеленый)</a>
        </li>
        <li>
            <a href="#" data-alert-target="failed">Уведомление "Не удалось отправить запрос" (красный)</a>
        </li>
        <li>
            <a href="#" data-alert-target="failed-warning">Уведомление "Не удалось отправить запрос" (оранжевый)</a>
        </li>
    </ul>
{% endblock %}


