{% extends "src/elements/_template.njk" %}
{% set title = "Список страниц" %}

{% block content %}
    <div class="page-header">
        <h1 class="page-title">{{ title }}</h1>
    </div>
    <ul class="mb-40 page-list">
        <li>
            <a href="workshops.html">Справочник Мастерские участка</a>
        </li>
    </ul>

{% endblock %}


