{% extends "src/elements/_template.njk" %}
{% set title = "1094 записи" %}
{% set tabs = true %}
{% set logging_log = true %}
{% set aside = false %}

{% block content %}
    <div class="page-header">
        <div class="page-bar">
            <div class="page-bar__search">
                <form action="" class="d-flex column-gap-12">
                    <label class="field">
                        <input type="text" name="search" placeholder="Введите ваш запрос">
                        <i class="select__icon icon-magnifier"></i>
                    </label>
                    <button type="button" class="btn btn-primary">
                        <span>Найти</span>
                    </button>
                </form>
            </div>
            <div class="page-bar__items">
                <button type="button" class="btn btn-primary btn-icon" data-offcanvas-target="filter">
                    <i class="icon-filter"></i>
                </button>
            </div>
        </div>
    </div><!-- .page-header -->

    <div class="table-responsive">
        <table id="tableLoggingLog" class="table">
            <thead>
            <tr>
                <th>
                    Дата и время
                    <div class="table-sorter">
                        <span></span>
                    </div>
                </th>
                <th class="text-nowrap">Номер заявки</th>
                <th class="text-nowrap">Группа</th>
                <th class="text-nowrap">Событие</th>
                <th>
                    Описание события
                    <div class="table-sorter">
                        <span></span>
                    </div>
                </th>
                <th>
                    Пользователь
                    <div class="table-sorter">
                        <span></span>
                    </div>
                </th>
                <th>
                    Организация
                    <div class="table-sorter">
                        <span></span>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-nowrap">12.12.2023, 10:00</td>
                    <td class="text-nowrap">00157945</td>
                    <td class="text-nowrap">Заявка</td>
                    <td class="text-nowrap">Создание задания</td>
                    <td class="text-nowrap">Создано задание №005322 в статусе “Новое”</td>
                    <td class="text-nowrap">Иванов И.И.</td>
                    <td class="text-nowrap">Наименование организации</td>
                </tr>
                <tr>
                    <td class="text-nowrap">12.12.2023, 10:00</td>
                    <td class="text-nowrap">00157945</td>
                    <td class="text-nowrap">Заявка</td>
                    <td class="text-nowrap">Создание задания</td>
                    <td class="text-nowrap">Создано задание №005322 в статусе “Новое”</td>
                    <td class="text-nowrap">Иванов И.И.</td>
                    <td class="text-nowrap">Наименование организации</td>
                </tr>
                <tr>
                    <td class="text-nowrap">12.12.2023, 10:00</td>
                    <td class="text-nowrap">00157945</td>
                    <td class="text-nowrap">Заявка</td>
                    <td class="text-nowrap">Создание задания</td>
                    <td class="text-nowrap">Создано задание №005322 в статусе “Новое”</td>
                    <td class="text-nowrap">Иванов И.И.</td>
                    <td class="text-nowrap">Наименование организации</td>
                </tr>
                <tr>
                    <td class="text-nowrap">12.12.2023, 10:00</td>
                    <td class="text-nowrap">00157945</td>
                    <td class="text-nowrap">Заявка</td>
                    <td class="text-nowrap">Создание задания</td>
                    <td class="text-nowrap">Создано задание №005322 в статусе “Новое”</td>
                    <td class="text-nowrap">Иванов И.И.</td>
                    <td class="text-nowrap">Наименование организации</td>
                </tr>
                <tr>
                    <td class="text-nowrap">12.12.2023, 10:00</td>
                    <td class="text-nowrap">00157945</td>
                    <td class="text-nowrap">Заявка</td>
                    <td class="text-nowrap">Создание задания</td>
                    <td class="text-nowrap">Создано задание №005322 в статусе “Новое”</td>
                    <td class="text-nowrap">Иванов И.И.</td>
                    <td class="text-nowrap">Наименование организации</td>
                </tr>
                <tr>
                    <td class="text-nowrap">12.12.2023, 10:00</td>
                    <td class="text-nowrap">00157945</td>
                    <td class="text-nowrap">Заявка</td>
                    <td class="text-nowrap">Создание задания</td>
                    <td class="text-nowrap">Создано задание №005322 в статусе “Новое”</td>
                    <td class="text-nowrap">Иванов И.И.</td>
                    <td class="text-nowrap">Наименование организации</td>
                </tr>
                <tr>
                    <td class="text-nowrap">12.12.2023, 10:00</td>
                    <td class="text-nowrap">00157945</td>
                    <td class="text-nowrap">Заявка</td>
                    <td class="text-nowrap">Создание задания</td>
                    <td class="text-nowrap">Создано задание №005322 в статусе “Новое”</td>
                    <td class="text-nowrap">Иванов И.И.</td>
                    <td class="text-nowrap">Наименование организации</td>
                </tr>
                <tr>
                    <td class="text-nowrap">12.12.2023, 10:00</td>
                    <td class="text-nowrap">00157945</td>
                    <td class="text-nowrap">Заявка</td>
                    <td class="text-nowrap">Создание задания</td>
                    <td class="text-nowrap">Создано задание №005322 в статусе “Новое”</td>
                    <td class="text-nowrap">Иванов И.И.</td>
                    <td class="text-nowrap">Наименование организации</td>
                </tr>
                <tr>
                    <td class="text-nowrap">12.12.2023, 10:00</td>
                    <td class="text-nowrap">00157945</td>
                    <td class="text-nowrap">Заявка</td>
                    <td class="text-nowrap">Создание задания</td>
                    <td class="text-nowrap">Создано задание №005322 в статусе “Новое”</td>
                    <td class="text-nowrap">Иванов И.И.</td>
                    <td class="text-nowrap">Наименование организации</td>
                </tr>
            </tbody>
        </table>
    </div><!-- .table-responsive -->

    <div class="page-nav">
        <ol class="pagination">
            <li class="pagination__item">
                <span class="pagination__link active">1</span>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__link">2</a>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__link">3</a>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__link">4</a>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__link">5</a>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__link">6</a>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__control">
                    <span>Следующая</span>
                </a>
            </li>
        </ol>
        <div class="page-view">
            <div class="select select--sm" data-select>
                <input type="hidden" name="view" data-select-value>
                <div class="select__control" data-select-control>
                    <div class="select__active" data-select-active>Показано записей: 10</div>
                </div>
                <div class="select__dropdown select__dropdown--top" data-select-dropdown>
                    <div class="select__item active" data-select-item="Показано записей: 10">10</div>
                    <div class="select__item" data-select-item="Показано записей: 20">20</div>
                    <div class="select__item" data-select-item="Показано записей: 30">30</div>
                </div>
            </div>
        </div>
    </div><!-- .page-nav -->

{% endblock %}




